/* ---------- General components start ---------- */
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: #151618;
  /* font-family: "Cormorant", serif; */
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  color: initial;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
}
/* ---------- General components finish ---------- */

/*---------------------------------------------------*/

/* ---------- Header components start ---------- */
.header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 140px;
  margin: 30px 0;
}

.menu__list {
  font-size: 18px;
  font-weight: 400;
  gap: 0 65px;
  margin-left: 85px;
}

.menu__list,
.user-actions {
  align-items: center;
  display: flex;
}

.user-actions {
  gap: 0 20px;
}

.user-actions__item-search {
  margin-left: 80px;
}

/* ---------- Header components finish ---------- */

/*---------------------------------------------------*/

/* ---------- Responsive components start ---------- */
/* ---------- Responsive components finish ---------- */
